[Unit]
Description=LibreNMS Galera readiness agent socket

[Socket]
ListenStream={{ ansible_host | default(ansible_facts.default_ipv4.address | default('127.0.0.1')) }}:{{ librenms_galera_readiness_agent_port }}
Accept=no
Service={{ librenms_galera_readiness_agent_service_unit }}
Backlog={{ librenms_galera_readiness_agent_backlog | int }}
NoDelay=true

[Install]
WantedBy=sockets.target
