REDIS_IMAGE=redis:7

REDIS_MASTER_HOST=192.168.1.116
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
REDIS_REPLICATION_ARGS=

REDIS_MASTER_SET=mymaster
REDIS_SENTINEL_PORT=26379
REDIS_SENTINEL_QUORUM=2
REDIS_SENTINEL_PASSWORD=CHANGE_ME_SENTINEL_PASSWORD
