{% set librenms_prebootstrap_web_nodes = groups.get('librenms_primary', []) | difference(groups.get('decommission_nodes', [])) %}
{% set librenms_haproxy_web_backend_nodes =
  (
    librenms_prebootstrap_web_nodes
    if not (librenms_bootstrap_completed_effective | bool) and (librenms_prebootstrap_web_nodes | length > 0)
    else librenms_active_web_nodes
  )
%}
{% set librenms_hc_uri = librenms_haproxy_web_check_path %}
{% set librenms_hc_host = librenms_haproxy_web_check_host_effective %}
{% set librenms_haproxy_bind_address =
  (librenms_vip_ip if librenms_vip_enabled and librenms_vip_ip | length > 0 else '0.0.0.0')
%}
{% set librenms_haproxy_tls_bind =
  librenms_haproxy_bind_address ~ ':' ~ librenms_haproxy_https_port
%}
{% set librenms_haproxy_web_default_server =
  'inter ' ~ librenms_haproxy_web_check_interval
  ~ ' fall ' ~ librenms_haproxy_web_check_fall
  ~ ' rise ' ~ librenms_haproxy_web_check_rise
%}
{% set librenms_haproxy_db_default_server =
  'inter ' ~ librenms_haproxy_db_check_interval
  ~ ' fall ' ~ librenms_haproxy_db_check_fall
  ~ ' rise ' ~ librenms_haproxy_db_check_rise
%}
{% set librenms_haproxy_rrdcached_backend_nodes =
  groups.get('librenms_nodes', []) | difference(groups.get('decommission_nodes', []))
%}
{% set librenms_haproxy_rrdcached_default_server =
  'inter ' ~ librenms_haproxy_rrdcached_check_interval
  ~ ' fall ' ~ librenms_haproxy_rrdcached_check_fall
  ~ ' rise ' ~ librenms_haproxy_rrdcached_check_rise
%}

global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 4096

defaults
    log global
    timeout connect {{ librenms_haproxy_timeout_connect }}
    timeout check {{ librenms_haproxy_timeout_check }}
    timeout client {{ librenms_haproxy_timeout_client }}
    timeout server {{ librenms_haproxy_timeout_server }}
    retries {{ librenms_haproxy_retries }}
{% if librenms_haproxy_redispatch | bool %}
    option redispatch
{% endif %}

frontend librenms_web_http
    bind {{ librenms_haproxy_bind_address }}:{{ librenms_haproxy_web_port }}
    mode http
    option httplog
    option forwardfor
{% if librenms_haproxy_tls_enabled | bool and librenms_haproxy_http_redirect_to_https | bool %}
    http-request redirect scheme https code 301
{% else %}
    http-request set-header X-Forwarded-Proto http
    default_backend librenms_web_nodes
{% endif %}

{% if librenms_haproxy_tls_enabled | bool %}
frontend librenms_web_https
    bind {{ librenms_haproxy_tls_bind }} ssl crt {{ librenms_haproxy_tls_cert_path }} {{ librenms_haproxy_tls_bind_options }}
    mode http
    option httplog
    option forwardfor
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Ssl on
    default_backend librenms_web_nodes
{% endif %}

backend librenms_web_nodes
    mode http
    balance roundrobin
{% if librenms_bootstrap_completed_effective | bool %}
    default-server {{ librenms_haproxy_web_default_server }}
    option httpchk
    http-check send meth GET uri {{ librenms_hc_uri }} ver HTTP/1.1 hdr Host {{ librenms_hc_host }} hdr Connection close
    http-check expect rstatus ^(2|3)[0-9][0-9]$
{% endif %}
{% for host in librenms_haproxy_web_backend_nodes %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:80 check
{% endfor %}

{% if librenms_db_mode == 'galera' %}
frontend librenms_db
    bind {{ librenms_haproxy_bind_address }}:{{ librenms_haproxy_db_port }}
    mode tcp
    default_backend galera_nodes

backend galera_nodes
    mode tcp
    balance roundrobin
    default-server {{ librenms_haproxy_db_default_server }}
{% if librenms_haproxy_db_mysql_check_enabled | bool %}
    option mysql-check user {{ librenms_haproxy_db_health_user }}
{% else %}
    option tcp-check
{% endif %}
{% for host in librenms_active_db_nodes %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:{{ librenms_db_port }} check
{% endfor %}
{% endif %}

{% if librenms_haproxy_rrdcached_enabled | bool %}
frontend librenms_rrdcached
    bind {{ librenms_haproxy_bind_address }}:{{ librenms_haproxy_rrdcached_port }}
    mode tcp
    default_backend librenms_rrdcached_nodes

backend librenms_rrdcached_nodes
    mode tcp
    balance roundrobin
    default-server {{ librenms_haproxy_rrdcached_default_server }}
    option tcp-check
{% for host in librenms_haproxy_rrdcached_backend_nodes %}
{% set rrdcached_host =
  hostvars[host].librenms_rrdcached_network_bind_address_effective
  | default(hostvars[host].librenms_rrdcached_network_bind_address)
  | default(hostvars[host].ansible_host | default(host))
%}
{% set rrdcached_server_options = 'check' ~ (' backup' if not loop.first else '') %}
    server {{ host }} {{ rrdcached_host }}:{{ librenms_rrdcached_bind_port }} {{ rrdcached_server_options }}
{% endfor %}
{% endif %}

{% if librenms_haproxy_stats_enabled | bool %}
listen stats
    bind {{ librenms_haproxy_stats_bind }}
    mode http
    stats enable
    stats uri /stats
{% endif %}
