global_defs {
  enable_script_security
  script_user root
}

vrrp_script chk_haproxy {
  script "/usr/bin/pgrep -x haproxy"
  interval {{ librenms_keepalived_track_haproxy_interval }}
  weight 20
}

vrrp_instance VI_1 {
  state {{ 'MASTER' if inventory_hostname == (librenms_active_lb_nodes | first) else 'BACKUP' }}
  interface {{ librenms_vip_interface_effective }}
  virtual_router_id {{ librenms_keepalived_vrid }}
  priority {{ hostvars[inventory_hostname].librenms_keepalived_priority | default(librenms_keepalived_priority) }}
  advert_int {{ librenms_keepalived_advert_interval }}
  garp_master_delay {{ librenms_keepalived_garp_master_delay }}
  garp_master_repeat {{ librenms_keepalived_garp_master_repeat }}
  garp_master_refresh {{ librenms_keepalived_garp_master_refresh }}
  garp_master_refresh_repeat {{ librenms_keepalived_garp_master_refresh_repeat }}
  authentication {
    auth_type PASS
    auth_pass {{ librenms_keepalived_auth_pass[:8] }}
  }
  virtual_ipaddress {
    {{ librenms_vip_ip }}/{{ librenms_vip_cidr }}
  }
  track_script {
    chk_haproxy
  }
}
