[defaults]
roles_path = roles
collections_path = ./.ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
stdout_callback = yaml
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
forks = 20
timeout = 30
