{% set redis_node_address = ansible_default_ipv4.address | default(ansible_host | default(inventory_hostname)) %}
{% set redis_master_address = hostvars[librenms_redis_master_host].ansible_host | default(librenms_redis_master_host) %}
port 26379
bind 127.0.0.1 {{ redis_node_address }}
protected-mode yes
{% if ansible_service_mgr == 'systemd' %}
daemonize no
supervised systemd
{% endif %}
{% if ansible_os_family == 'Debian' %}
pidfile /run/redis/redis-sentinel.pid
logfile ""
{% endif %}
dir /var/lib/redis

sentinel monitor {{ librenms_redis_sentinel_service }} {{ redis_master_address }} 6379 {{ librenms_redis_quorum }}
sentinel auth-pass {{ librenms_redis_sentinel_service }} {{ librenms_redis_password | to_json }}
sentinel down-after-milliseconds {{ librenms_redis_sentinel_service }} {{ librenms_redis_sentinel_down_after_milliseconds }}
sentinel failover-timeout {{ librenms_redis_sentinel_service }} {{ librenms_redis_sentinel_failover_timeout }}
sentinel parallel-syncs {{ librenms_redis_sentinel_service }} {{ librenms_redis_sentinel_parallel_syncs }}

requirepass {{ librenms_redis_sentinel_password | to_json }}
