[Unit]
Description=LibreNMS daily maintenance
Wants=network-online.target remote-fs.target
After=network-online.target remote-fs.target mariadb.service haproxy.service redis-server.service redis-sentinel.service
RequiresMountsFor={{ librenms_install_dir }}{% if librenms_rrd_mode == 'glusterfs' %} {{ librenms_install_dir }}/rrd{% endif %}

[Service]
Type=oneshot
User={{ librenms_user }}
Group={{ librenms_group }}
WorkingDirectory={{ librenms_install_dir }}
Environment=HOME={{ librenms_install_dir }}
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
{% if librenms_dispatcher_runtime_wait_enabled | bool %}
ExecStartPre={{ librenms_dispatcher_runtime_wait_path }}
{% endif %}
ExecStart=/bin/bash {{ librenms_install_dir }}/daily.sh
