APP_KEY={{ librenms_app_key_effective }}
APP_URL={{ librenms_app_url_effective }}
{% if librenms_active_lb_nodes | length > 0 %}
APP_TRUSTED_PROXIES={% for host in librenms_active_lb_nodes %}{{ hostvars[host].ansible_host | default(host) }}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
NODE_ID={{ librenms_node_id | default(inventory_hostname) }}

DB_HOST={{ librenms_db_host_effective }}
DB_PORT={{ librenms_db_port }}
DB_DATABASE={{ librenms_db_name }}
DB_USERNAME={{ librenms_db_user }}
DB_PASSWORD={{ librenms_db_password }}

{% if librenms_redis_mode == 'sentinel' %}
REDIS_SENTINEL_HOSTS={% for host in librenms_active_redis_nodes %}redis://{{ hostvars[host].ansible_host | default(host) }}:26379?password={{ librenms_redis_sentinel_password }}{% if not loop.last %},{% endif %}{% endfor %}
REDIS_SENTINEL_SERVICE={{ librenms_redis_sentinel_service }}
REDIS_BROADCAST_CONNECTION=sentinel_cache
REDIS_CACHE_CONNECTION=sentinel_cache
REDIS_LOCK_CACHE_CONNECTION=sentinel_cache
SESSION_DRIVER=redis
SESSION_CONNECTION=sentinel_session
REDIS_SENTINEL={% for host in librenms_active_redis_nodes %}{{ hostvars[host].ansible_host | default(host) }}:26379{% if not loop.last %},{% endif %}{% endfor %}
REDIS_SENTINEL_PASSWORD={{ librenms_redis_sentinel_password }}
REDIS_PASSWORD={{ librenms_redis_password }}
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
{% elif librenms_redis_mode == 'local' %}
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD={{ librenms_redis_password }}
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
{% elif librenms_redis_mode == 'external' %}
REDIS_HOST={{ librenms_redis_host_effective }}
REDIS_PORT={{ librenms_redis_external_port }}
REDIS_PASSWORD={{ librenms_redis_password }}
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
{% endif %}

LIBRENMS_USER={{ librenms_user }}
LIBRENMS_GROUP={{ librenms_group }}
