[Unit]
Wants=network-online.target remote-fs.target
After=network-online.target remote-fs.target{% if librenms_rrd_mode == 'glusterfs' %} {{ librenms_glusterd_service_name }}.service{% endif %} {{ librenms_mariadb_service_name }}.service {{ librenms_haproxy_service_name }}.service {{ librenms_redis_service_name }}.service {{ librenms_redis_sentinel_service_name_effective }}.service
RequiresMountsFor={{ librenms_install_dir }}{% if librenms_rrd_mode in ['glusterfs', 'external'] %} {{ librenms_install_dir }}/rrd{% endif %}
StartLimitIntervalSec=0

[Service]
ExecStartPre={{ librenms_dispatcher_runtime_wait_path }}
Restart=always
RestartSec={{ librenms_dispatcher_restart_sec }}
