{% set librenms_nginx_listen =
  (
    (ansible_host | default(ansible_default_ipv4.address | default(inventory_hostname))) ~ ':80'
  )
  if inventory_hostname in (
    groups.get('lb_nodes', [])
    | difference(groups.get('decommission_nodes', []))
  )
  else '80'
%}
{% if librenms_nginx_redirect_unmatched_hosts | bool %}
server {
    listen {{ librenms_nginx_listen }} default_server;
    server_name _;

    location = {{ librenms_nginx_health_check_path }} {
        access_log off;
        add_header Content-Type text/plain;
        return 200 "ok\n";
    }

    location / {
        return 301 {{ librenms_app_url_effective | regex_replace('/$', '') }}$request_uri;
    }
}

{% endif %}
server {
    listen {{ librenms_nginx_listen }};
    server_name {{ librenms_nginx_server_names_effective | default('_') }};
    root {{ librenms_install_dir }}/html;
    index index.php;

    charset utf-8;
    gzip on;
    gzip_types
        text/css application/javascript text/javascript application/x-javascript
        image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon;

    location = {{ librenms_nginx_health_check_path }} {
        access_log off;
        add_header Content-Type text/plain;
        return 200 "ok\n";
    }

    location = {{ librenms_php_fpm_ping_path }} {
        access_log off;
        include fastcgi.conf;
        fastcgi_connect_timeout {{ librenms_nginx_fastcgi_connect_timeout }};
        fastcgi_send_timeout {{ librenms_nginx_fastcgi_send_timeout }};
        fastcgi_read_timeout {{ librenms_nginx_fastcgi_read_timeout }};
        fastcgi_pass unix:{{ librenms_php_fpm_socket }};
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ [^/]\.php(/|$) {
        fastcgi_pass unix:{{ librenms_php_fpm_socket }};
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_connect_timeout {{ librenms_nginx_fastcgi_connect_timeout }};
        fastcgi_send_timeout {{ librenms_nginx_fastcgi_send_timeout }};
        fastcgi_read_timeout {{ librenms_nginx_fastcgi_read_timeout }};
        include fastcgi.conf;
    }

    location ~ /\. {
        deny all;
    }
}
