server {
    listen {{
      (
        (ansible_host | default(ansible_default_ipv4.address | default(inventory_hostname))) ~ ':80'
      )
      if inventory_hostname in (librenms_active_lb_nodes | default([]))
      else '80'
    }};
    server_name {{ librenms_fqdn | default('_') }};
    root {{ librenms_install_dir }}/html;
    index index.php;

    charset utf-8;
    gzip on;
    gzip_types text/css application/javascript text/javascript application/x-javascript image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ [^/]\.php(/|$) {
        fastcgi_pass unix:/run/php-fpm-librenms.sock;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        include fastcgi.conf;
    }

    location ~ /\. {
        deny all;
    }
}
