[librenms]
user = {{ librenms_user }}
group = {{ librenms_group }}

listen = /run/php-fpm-librenms.sock
listen.owner = {{ librenms_web_runtime_user | default(librenms_user) }}
listen.group = {{ librenms_web_runtime_group | default(librenms_group) }}
listen.mode = 0660
ping.path = {{ librenms_php_fpm_ping_path }}
ping.response = pong

pm = dynamic
pm.max_children = 20
pm.start_servers = 4
pm.min_spare_servers = 2
pm.max_spare_servers = 6

catch_workers_output = yes
php_admin_value[error_log] = {{ librenms_install_dir }}/logs/php-fpm-error.log
php_admin_flag[log_errors] = on
