DAEMON={{ librenms_rrdcached_daemon_path }}
WRITE_TIMEOUT={{ librenms_rrdcached_write_timeout }}
WRITE_JITTER={{ librenms_rrdcached_write_jitter }}
WRITE_THREADS={{ librenms_rrdcached_write_threads }}
BASE_PATH={{ librenms_rrdcached_base_path }}
JOURNAL_PATH={{ librenms_rrdcached_journal_path }}/
PIDFILE={{ librenms_rrdcached_pidfile }}
SOCKFILE={{ librenms_rrdcached_socket }}
SOCKGROUP={{ librenms_group }}
SOCKMODE={{ librenms_rrdcached_socket_mode }}
DAEMON_GROUP={{ librenms_group }}
DAEMON_USER={{ librenms_user }}
BASE_OPTIONS="-B -F -R"
{% if librenms_rrdcached_network_enabled | bool %}
NETWORK_OPTIONS="-L -l {{ librenms_rrdcached_network_bind_address_effective }}:{{ librenms_rrdcached_bind_port }}"
{% else %}
NETWORK_OPTIONS=""
{% endif %}
