DAEMON=/usr/bin/rrdcached
WRITE_TIMEOUT=1800
WRITE_JITTER=1800
WRITE_THREADS=4
BASE_PATH={{ librenms_rrdcached_base_path }}
JOURNAL_PATH={{ librenms_rrdcached_journal_path }}/
PIDFILE=/var/run/rrdcached.pid
SOCKFILE={{ librenms_rrdcached_socket }}
SOCKGROUP={{ librenms_group }}
DAEMON_GROUP={{ librenms_group }}
DAEMON_USER={{ librenms_user }}
BASE_OPTIONS="-B -F -R"
{% if librenms_rrdcached_network_enabled | bool %}
NETWORK_OPTIONS="-L -l {{ librenms_rrdcached_network_bind_address }}:{{ librenms_rrdcached_bind_port }}"
{% else %}
NETWORK_OPTIONS=""
{% endif %}
