[mariadb]
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name=librenms-galera-integration
wsrep_cluster_address=gcomm://galera-1,galera-2,galera-3
wsrep_sst_method=mariabackup
wsrep_sst_auth=root:integration-secret
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
