TZ=Europe/Istanbul
MARIADB_GALERA_IMAGE=wodby/mariadb:galera

MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
DB_NAME=librenms
DB_USER=librenms
DB_PASSWORD=CHANGE_ME_DB_PASSWORD

WSREP_CLUSTER_NAME=librenms_cluster
WSREP_CLUSTER_ADDRESS=gcomm://192.168.1.116,192.168.1.117,192.168.1.118
WSREP_NODE_NAME=lnms1
WSREP_NODE_ADDRESS=192.168.1.116
