TZ=Europe/Istanbul
LIBRENMS_IMAGE=librenms/librenms:latest
LIBRENMS_SHARED_DATA_DIR=/srv/librenms-shared
REAPPLY_YAML_CONFIG=0

# Set this to a DB VIP, proxy, or a Galera node address you are willing to target.
DB_HOST=192.168.1.120
DB_PORT=3306
DB_NAME=librenms
DB_USER=librenms
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
DB_TIMEOUT=60

REDIS_SENTINEL=192.168.1.116:26379,192.168.1.117:26379,192.168.1.118:26379
REDIS_SENTINEL_SERVICE=mymaster
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

DISPATCHER_NODE_ID=lnms1
DISPATCHER_ARGS=
